body {
    background-color: rgb(242, 7, 7);
  }
 
 
 
 
 
 
  .cards {
    display: flex; 
    justify-content: center ; 
    justify-content: space-between;
    align-items: center; 
    width: 360px;
    height: 818px;
    margin: 100px;
  }

  
   
  
  
  
  
  
  
  

  